footer{
	text-align: center;
	border-top: 1px solid $primary-blue;

	p{
		margin-bottom: 2rem;
	}
}



.footer-nav{
	margin: 4rem 0;
	padding: 0;

	
	li{
		padding: 2rem;
		font-size: 1.4rem;
		display: block;

		@include media(600px){
			display: inline-block;
		}
		
	}

	a:hover{
		color: $primary-blue;
	}

}