footer{
	text-align: center;
	border-top: 1px solid $primary-blue;

	p{
		text-align: center;
		margin-bottom: 2em;
	}
}



.footer-nav{
	margin: 4em 0;
	li{
		padding: 2em;
		font-size: 1.4em;
		
	}

}