.header-logo{
		width: 55px;
		height: 45px;
		display: inline-block;
		background: url(../images/primary-logo-02.svg);
		vertical-align: bottom;
		margin-left: 1rem;
		margin-right: 1rem;

		@include media(1100px){
			margin-left: 4rem;
		}
}

.header-title{
	display: inline-block;
	overflow: auto;
	
	h1{
		display: block;
		margin: 0;
		font-size: 4rem;
		font-family: $secondary;
	}

	&:hover{
		color: $primary-blue;
	}
}

.header-nav{
	display: none;
	float: right;
	text-transform: uppercase;
	overflow: auto;

	ul{
		padding: 0;
		overflow: auto;
		display:inline-block;
		margin: 0;	
	}

	a{
		font-size: 1.8rem;
		display:block;
		display:inline;
		&:hover{
			color: $primary-blue;
		}		
	}

	li{
		margin: 1rem;
	}

	@include media(700px){
		display:block;
		margin-top: 1.8rem;
	}
}


header{
	 overflow: auto;
	 border-bottom: 1px solid $primary-blue;
}



//Mobile Nav Menu 

.nav-toggle{
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
	display: inline-block;
	color: $black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $primary;
	font-size: 2rem;
	
	@include media(700px){
		display:none;
	}
}

.mobile-header-nav{
	background-color: $light-gray;
	color: $black;
	font-family: $primary;
	text-transform: uppercase;
    display: none;
    overflow: hidden;
    text-align: right;
    font-size: 2rem;

    ul{
    	padding: 0;
    	margin: 0;
    	
    	li{
    		display:block;
    		padding: 1rem;
    	}

    	a:nth-child(odd){
    		background-color: $white;
    	}


    }

    a:hover{
    	color: $primary-blue;
    }

}


.nav-active{
	font-weight: 600;

}






