.logo{
		width: 40px;
		height: 40px;
		display: inline-block;
		background: $black;	
}

.site-title{
	display: inline-block;
	h1{
		display: inline-block;
		margin: 0;
		font-size: 4em;
		font-family: $secondary;
	}
}

.main-nav{
	display: inline-block;
	float: right;
	text-transform: uppercase;
	margin-top: 2.5m;

	a{
		font-size: 2em;
	}

	li{
		padding: 1em;
	}

}

header{
	 overflow: auto;
	 border-bottom: 1px solid $primary-blue;
}
