.header-logo{
		width: 40px;
		height: 40px;
		display: inline-block;
		background: $black;	vertical-align: top;
}

.header-title{
	display: inline-block;
	overflow: auto;
	
	h1{
		display: block;
		margin: 0;
		font-size: 4rem;
		font-family: $secondary;
	}
}

.header-nav{
	display: block;
	float: right;
	text-transform: uppercase;
	overflow: auto;

	ul{
		padding: 0;
		overflow: auto;
		display:inline-block;
		margin: 0;
		
	}

	a{
		font-size: 1.8rem;
		display:block;

		
	}

	li{
		margin: 1rem;
	}

}

header{
	 overflow: auto;
	 border-bottom: 1px solid $primary-blue;
}
