#search {
    font-family: $primary;
    width: 70%;
    border:none;
    outline:none;
  
      
}


#nav-search{
width: 100%;
display: inline-block;
margin-right: 1rem;
@include media(500px){
    float: right;
    width: auto;
    margin-right: 1rem;
}
}

#nav-search{
    padding: .33rem .6rem;
    border: 1px solid $primary-blue;
    font-size: 2rem;
    background-color: $white;
    margin: 0;
    overflow: auto;
    @include media(402px){
        padding: .33rem .33rem .33rem .6rem;
    }
}

/* ----------------------- */

#submit{       
    background-color: $primary-blue;
    border:none;
    color: $white;    
    font-family: $primary;
    font-size: 1rem;
    float:right;
    width: 30%;
    outline: none;
    border-radius: none;
}

#submit:hover {       
    background-color: $mid-gray;
}   

#submit:active {   
    border: none;
    box-shadow: none;    
    outline: 0;
          
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

.primary-button-input{
    background-color: $primary-blue;
    text-decoration: none;
    border: 2px solid $primary-blue;
    color: $white;
    font-size: 1.8rem;
    padding: .5em 1em;
    box-sizing: content-box;
    margin-bottom: 1rem;

    &:hover{
        background-color: $white;
        color: $primary-blue;

    }

    &:focus, &:active{
        border:0;
        box-shadow: none;
        outline: 0;
         -webkit-box-shadow: none;
          box-shadow: none;
    }



}

.primary-button{
    padding: .5rem;
    border: 1px solid $primary-blue;
    font-size: 1.8rem;
    background-color: $primary-blue;
    margin: 0;
    color: $white;
    display: inline-block;
    text-decoration: none;
    @include media(402px){
        padding: .5rem;
    }
    &:visited{
        color: $white;
    }
}

.secondary-button{
    padding: .4rem;
    border: 1px solid $primary-blue;
    font-size: 1.8rem;
    background-color: $white;
    margin: 0;
    color: $white;
    display: inline-block;
    @include media(402px){
        padding: .4rem;
    }
    &:visited{
        color: $white;
    }
}
