.small-image, .medium-image{
	max-width: 200px;
	margin: 1rem 0 1rem 1rem;

	img {
		width: 100%;
	}

	@include media(500px){
		margin: 2rem;
	}
}

.large-image{
	max-width:300px;
	margin: 4rem auto;

	
	@include media(770px){
		margin: 4rem;
		float:left;

		&:nth-child(2n+1){
			clear:left;
		}
	}

	@include media(1150px){
		&:nth-child(2n+1){
			clear:none;
		}

		&:nth-child(3n+4){
			clear:left;
		}
	}
}

.small-item{
	width: 200px;
	height: 200px;
}

.medium-item{
	max-width: 200px;
}

.large-item{
	max-width: 300px;
}