.artist{
	margin: 1em 0 0 0;
}

.title{
	margin: 0;
}

.info{
	margin: 1em 0 0 0;
}

.plus{
	float: right;
}

.primary-button{
	padding: .4em;
	border: 1px solid $primary-blue;
	font-size: 1.8em;
	background-color: $primary-blue;
	margin: 0;
	color: $white;
	@include media(402px){
		padding: .4em;
	}
	&:visited{
		color: $white;
	}
}
