.artist{
	margin: 1em 0 0 0;
}

.title{
	margin: 0;
}

.info{
	margin: 1em 0 0 0;
}


//Owl Carousel

.owl-theme .owl-controls .owl-buttons div{
	background-color: $mid-gray;
	color: $white;
	font-family: $primary;
	padding: .6rem 4rem 1rem 4rem;
	font-size: 1.8rem;
	border-radius: 0;
	vertical-align: middle;
	margin: 2rem 1rem 2rem 1rem;
	
	@include media(500px){
		margin: 2rem 1rem 2rem 1rem;
	}
}
