//Catalog Page

.catalog{
	margin: 0;
	overflow: auto;

}

.catalog-title{
	text-align: center;
	font-size: 3rem;
	margin: 3rem 0;
	font-weight: 600;
	font-family: $primary;
	
	@include media(500px){
			margin-bottom: 1rem;
		}
}

.catalog-sections{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1rem;
	font-family: $secondary;

	a{
		padding: 1rem;
		color: $mid-gray;
		display:inline-block;
		&:hover{
			color: $primary-blue;
		}
		
	}
}

.section-title{
	font-family: $secondary;
	font-size: 1.5rem;
	margin-left: 1rem;
	display: block;

	@include media(500px){
		margin-left: 2rem;
	}
}

//Art Styling
.artist{
	font-weight: 600;
	font-size: 1.8rem;
	font-family: $primary;

}

.title{
	font-size: 1.8rem;
	font-family: $primary;
	
}

.info{
	font-size: 1.6rem;
	color: $mid-gray;
	font-family: $primary;
	margin-top: .5rem;
}

.plus{
	height: 40px;
	width: 40px;
	background: url(../images/plus.svg) no-repeat center;
	float: right;
	display: inline;

	@include media(500px){
		height: 20px;
		width: 20px;
	}


}

.minus{
	height: 40px;
	width: 40px;
	background: url(../images/minus.svg) no-repeat center;
	float: right;
	display: inline;

	@include media(500px){
		height: 20px;
		width: 20px;
	}

}

#special-collections{
	overflow: auto;
	margin: 4rem auto;
}



//Secondary Nav
#secondary-nav{
	overflow: auto;
	background-color: $white;
	max-width: 1500px;
	margin: 0 auto;

}

#secondary-nav-mobile-toggle{
	overflow: auto;

	@include media(700px){
		display:none;
	}

}

#secondary-nav-mobile{
	display:none;
	overflow: hidden;
	background-color: $light-gray;
}

#secondary-nav-large{
	overflow:auto;
	display:none;

	@include media(700px){
		display: inline-block;
		width: auto;
	}

}

.styled-select {
    position: relative;
    display: inline-block;
    padding: .5rem .25rem;
    border-radius: 0;

}

#sort-by{
	min-width: 220px;
}

#price{
	min-width: 150px;
}

#size{
	min-width: 190px;
}

#medium{
	min-width: 215px;
}



.select {
    display: inline-block;
    padding: .5rem;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 3rem;
    background: $white;
    color: $black;
    border: 1px solid $primary-blue;
    border-radius: 0;
    font-size: 2rem;
    appearance: none;
     -webkit-appearance: none;
    -webkit-border-radius: 0px;

    option{
    	padding: 2rem;
    	margin: 2rem;
    }
}

/* Select arrow styling */
    .styled-select:after {
        content: "▼";
        position: absolute;
        top: 12px;
        right: 0px;
        bottom: 0;
        font-size: 1.8rem;
        line-height: 30px;
        padding: 0 1rem;
        color: $black;
    }

.browse-all{
	margin: 2rem auto 0 auto;
	overflow: auto;
	max-width: 770px;

	@include media(1150px){
		max-width: 1150px;

	}


}


.pagination{
	text-align: center;
	margin-bottom: 4rem;
	font-family: $secondary;
	font-size: 2.5rem;
	padding: 0;

	li{
		padding: 1rem;
		margin: 0;
	}
	a:hover{
		color: $primary-blue;
	}
	
}



//Collection Page

.jumbo{
	background: $white url(../images/collectionbackground.jpg) no-repeat center center;
	background-size: 110%;
	width: 150px;
	height: 150px;
	position: relative;
	border-radius: 100px;
	margin: 0 auto;
}
.curator{
	margin-top: 2rem;
	margin-bottom: 10rem;

}

.curator-wrapper{
	overflow: auto;
	margin: 0 2rem;

	.primary-button-input{
		margin-top: 2rem;
	}
}

.curator-title{
	font-size: 2rem;
	font-family: $secondary;
	margin-left: 2rem;
}

#your-gallery{
	margin-top: 2rem;
	
	.your-gallery-nav{
		overflow:auto;
		text-align: center;
	}

	button{
		margin: 0 2rem 2rem 0;
		@include clearfix;

		@include media(900px){
			float: right;

		}
	}

	#first-carousel{
		margin-bottom: 4rem;
		
	}

	.info{
		margin-bottom: 2rem;
	}
}


.your-gallery-title, .your-collection-title{
	font-size: 2rem;
	color: $black;
	display: inline-block;
	margin: 0;
	margin-left: 2rem;
	font-family: $secondary;
	margin-bottom: 2rem;

	@include media(900px){
		float:left;
	}
}

.your-gallery-title{
	margin-right: 2rem;
}

#your-collection{
	margin-top: 2em;
	overflow: auto;
	
	.your-collection-nav{
		overflow:auto;
		text-align: center;
	}

	.your-collection-title{
		float:left;
	}

	form{
		margin: 0 2rem;
		float:left;

		@include media(900px){
			float: right;

		}
	}
}


.laine{
	overflow: auto;
	background: $primary-blue url(../images/c15.jpg) no-repeat center center;
	background-size: cover;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	margin-top: 2em;
	
	border-radius: 100px;

	@include media(600px){
		width: 200px;
		height: 200px;
		float: left;
		margin-right: 2em;
	}
}



//Landing Page

.splash{
	background: $white url(../images/background3small.jpg) no-repeat top left; 
	height: 400px;
	overflow: hidden;
	position: relative;
	


	@include media(700px){
		background: url(../images/background4trimmed.jpg) no-repeat top left;
		max-width: 1333px;
		margin: 0 auto;
		
	}
	
}

.splash-logo{
	height: 180px;
	width: 220px;
	background: url(../images/primary-logo-02.svg);
	display: inline-block;
	color: $primary-blue;
	position: absolute;
	bottom: 5rem;
	margin: 0 auto;
	left: 0;

	@include media(700px){
		height: 225px;
		width: 275px;
		background: url(../images/whitelogos-04.svg);
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.splash-title{
	text-align: center;
	font-family: $secondary;
	font-size:  7rem;
	color: $primary-blue;
	padding: 0;
	margin: 0;

	@include media(700px){
		margin-top: 6rem;
		padding-bottom: 1rem;
		// border-top: 1px solid $primary-blue;
		// border-bottom: 1px solid $primary-blue;
	}

}

.splash-tag{
	font-family: $secondary;
	font-size: 3rem;
	width:auto;
	font-weight: 600;
	margin: 3rem 0;
	text-align: center; 
	color: $primary-blue;
	// text-shadow: 1px 1px .25px $black;


	@include media(700px){
		// @include background-image(linear-gradient($white 0, $white 40%, transparent 100%));
		margin: 0;
		background-color: $white;
	}

}

.sign-in{
	overflow: auto;
	display: inline-block;
	float:right;
	@include media(800px){
		width: 90%;
		margin: 0 auto;

	}
}
.sign-in-paragraph{
	float:right;
	width: 300px;
	text-align: right;
	color: $primary-blue;
	margin-top: 2rem;
}

.black{
	font-size: 2rem;
}

.landing-wrapper{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;	
	overflow: auto;
}

.about{
	overflow: auto;
	margin-top: 4rem;

	@include media(700px){
		margin-top: 8rem;
	}

	
}

.about-image{
	background: $primary-blue url(../images/amira.jpg) no-repeat top left;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	background-size: cover;
	@include clearfix;

	@include media(900px){
		float:left;
		margin: 0;
	}
	
}


.about-text{
	font-size: 2rem;
	font-family: $secondary;
	width: 100%;
	max-width: 500px;
	padding: 1rem;
	line-height: 1.6em;
	padding-top: 0;
	margin: 0 auto;
	background-color: $white;
	
	@include media(900px){
		float:right;
		margin: 0;
		margin-right: 4rem;
		
	}

	a{
		font-weight: 600;
	}

}

.step-1, .step-2, .step-3{
	overflow: auto;
	margin-bottom: 4rem;

}

.step-1{
	.icon{
		width: 200px;
		height: 200px;
		background: url(../images/icons-03.svg) no-repeat center;
		margin: 0 auto;
	}
}

.step-2{
	.icon{
		width: 200px;
		height: 200px;
		background: url(../images/icons-02.svg) no-repeat center;
		margin: 0 auto;
	}
}

.step-3{
	.icon{
		width: 200px;
		height: 200px;
		background: url(../images/icons-01.svg) no-repeat center;
		margin: 0 auto;
	}
}

.how{
	margin-top: 2rem;
	overflow: auto;
	border-top: 1px solid $primary-blue;
	border-bottom: 1px solid $primary-blue;
	padding: 1rem;
	background-color: $light-gray;

	@include media(600px){
		padding: 0 0 2rem 0;
		margin-top: 10rem;
	}
}

.how-section-title{
	font-family: $secondary;
	font-size: 3rem;
	width: auto;
	font-weight: 600;
	padding: 1em 0;
	text-align: center;
}

.how-box{
	max-width: 700px;
	overflow: auto;
	margin: 0 auto;
}

.how-title{
	font-family: $primary;
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	margin: 2rem auto;


}

.how-text{
	font-family: $primary;
	font-size: 2rem;
	line-height: 1.6em;
	max-width: 500px;
	margin: 0 auto;

	a:hover{
		color: $primary-blue;
	}

}
.recent-wrapper{
	width: 100%;
	overflow: auto;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 4rem;

}

.recent{
	font-family: $secondary;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.recent-action{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.landing-browse-all{

	div:nth-child(n+5){
		display: none;
	}

	@include media(770px){
		div:nth-child(n+7){
			display: none;
		}
	}

	@include media(1150px){
		div:nth-child(n){
			display:block;
		}
	}


}

.actions-wrapper{
	width: 100%;
	overflow: auto;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1rem;
	margin-bottom: 2rem;

	a{
		clear: both;
		margin: 2rem 1rem;
	}

}


.main-wrapper{

	overflow: auto;
	.small-image{
		display: block;
		float: left;
	}

}


//Piece Page

.piece-wrapper{
	overflow: auto;

}

.detail{
	overflow: auto;
	max-width: 1100px;
	margin: 0 auto;

}

.detail-wrapper{
	overflow: auto;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;

	@include media(1100px){
		margin-top: 2em;
		max-width: 1100px;
		float:left;
	}

}


.detail-image{
	max-height: 500px;
	height: 80%;
	display: block;	

	@include media(1100px){
		float:left;

	}

}

.detail-wrapper-inside{
	overflow: auto;
	width: 100%;
	padding: 1rem;

	@include media(1100px){
		float: left;
		width: 500px;
		padding: 0 2rem 2rem 2rem;
	}
}

.detail-artist{
	font-size: 2rem;
	font-family: $primary;
	font-weight: 600;
	margin: 1rem 0 .5rem 0;

	@include media(1100px){
		margin-top: 2rem;
	}
}

.detail-title{
	font-size: 2rem;
	font-family: $primary;
	margin-bottom: .5rem;
}

.detail-info{
	font-size: 2rem;
	color: $mid-gray;
	margin-bottom: 2rem;
	max-width: 400px;


}

.detail-price{
	border-top: 1px solid $secondary-blue;
	border-bottom: 1px solid $secondary-blue;
	font-family: $primary;
	font-size: 2rem;
	width: 100%;
	max-width: 400px;
	padding: .25em 0;
	margin-bottom: 2rem; 
}

.detail-collections{
	font-size: 2.5rem;
	font-family: $secondary;
	margin-bottom: 2rem;
}

.detail-history{
	font-size: 1.8rem;
	font-family: $primary;
	color: $mid-gray;
	margin-bottom: 4rem;
}


.detail-add-now{

}

.detail-curator{

}

.artist-bio{
	width: 100%;
	max-width: 500px;
	margin: 2rem auto;

	@include media(1100px){
		margin-top: 4em;
		width: 50%;
		max-width: 1100px;
		float:left;
		border-top: 1px solid $secondary-blue;
		padding-top: 4rem;
	}

}

.artist-bio-image{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background: $white url(../images/artist.jpg) no-repeat center;
	margin-left: 1rem;
}

.artist-bio-name{
	font-family: $secondary;
	font-size: 2.5rem;

}

.artist-bio-info{
	font-family: $secondary;
	font-size: 2rem;
	padding: 1rem;

}












