//Catalog Page

.catalog{
	margin: 0;
	overflow: auto;

}

.catalog-title{
	text-align: center;
	font-size: 3rem;
	margin: 3rem 0;
	font-weight: 600;
	font-family: $primary;
	@include media(500px){
			margin-bottom: 1em;
		}
}

.catalog-sections{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1em;
	font-family: $secondary;

	a{
		padding: 1em;
		color: $mid-gray;
		display:inline-block;
		
	}
}

.section-title{
	font-family: $secondary;
	font-size: 1.5rem;
	margin-left: 1rem;
	display: block;

	@include media(500px){
		margin-left: 2rem;
	}
}

//Art Styling
.artist{
	font-weight: 600;
	font-size: 1.8rem;
	font-family: $primary;

}

.title{
	font-size: 1.8rem;
	font-family: $primary;
	
}

.info{
	font-size: 1.6rem;
	color: $mid-gray;
	font-family: $primary;
	margin-top: .5rem;
}

a.plus{
	font-size: 5rem;
	color: $mid-light-gray;
	font-family: $primary;
	float:right;

}

a.minus{
	font-size: 2rem;
	color: $mid-light-gray;
	font-family: $primary;
	float:right;

}

#special-collections{
	overflow: auto;
	margin: 4rem auto;
}



//Secondary Nav
#secondary-nav{
	overflow: auto;
	background-color: $white;

}

.styled-select {
    position: relative;
    display: inline-block;
    padding: .5rem .25rem;
    border-radius: 0;

}

    .select {
        display: inline-block;
        padding: .5rem;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 3rem;
        background: $white;
        color: $black;
        border: 1px solid $primary-blue;
        border-radius: 0;
        font-size: 2rem;
        appearance: none;
         -webkit-appearance: none;
  -webkit-border-radius: 0px;

        option{
        	padding: 2rem;
        	margin: 2rem;
        }
    }

/* Select arrow styling */
    .styled-select:after {
        content: "▼";
        position: absolute;
        top: 12px;
        right: 0px;
        bottom: 0;
        font-size: 1.8rem;
        line-height: 30px;
        padding: 0 1rem;
        color: $black;
    }
    

// #sort-by{
// 	vertical-align: top;
// 	background: transparent;
//    	width: 268px;
//    	padding: 5px;
//    	font-size: 16px;
//    	line-height: 1;
//    	border: 0;
//    	border-radius: 0;
//    	height: 34px;
//     -webkit-appearance: none;
// }
// .center{
// 	overflow: auto;
// 	display:inline-block;
// }

// #price{

// }

// #size{

// }

// #medium{

// }

// #sort-by, #price, #size, #medium {
// 	padding: .6em;
// 	border: 1px solid $primary-blue;
// 	font-size: 2em;
// 	background-color: $white;
// 	margin: 0;
// 	@include media(402px){
// 		padding: .6em;
// 	}

// }

.browse-all{
	margin: 0;
	overflow: auto;
}


.pagination{
	text-align: center;
	margin-bottom: 4rem;
	font-family: $secondary;
	font-size: 2.5rem;
	padding: 0;

	li{
		padding: 1rem;
		margin: 0;
	}
}


//Collection page

.jumbo{
	background: $white url(../images/background.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 200px;
	position: relative;

	@include media(500px){
		width: 80%;
		height: 340px;
		margin: 2em auto 0 auto;
	}

	.site-title{
		position: absolute;
		bottom: 0;
		left: -2em;
		background-color: $white;
		padding: 1em; 
	}
}

.curator{
	overflow: auto;
	margin: 0 2em;

	.primary-button{
		vertical-align: bottom;
	}
}

#your-gallery{
	margin-top: 2em;

}

.laine{
	overflow: auto;
	background: $primary-blue url(../images/c15.jpg) no-repeat center center;
	background-size: cover;
	float: left;
	width: 200px;
	height: 200px;
	margin-top: 2em;
	margin-right: 2em;
}



//Landing Page

.splash{
	background: $white url(../images/h1.jpg) no-repeat 50% 75%; 
	height: 400px;
	background-size: 100%;


	@include media(800px){
		background-size: 90%;
		height: 500px;

	}
	
}

.splash-title{
	text-align: center;
	font-family: $secondary;
	font-size:  7em;
	color: $white;
	text-shadow: 1px 1px 1px $black;
	padding-top: 1em;
	padding-bottom: 1.5em;

	@include media(800px){
		padding-top: 2em;
		padding-bottom: 1em;
	}

}
.sign-in{
	overflow: auto;
	width: 100%;
	@include media(800px){
		width: 90%;
		margin: 0 auto;

	}
}
.sign-in-paragraph{
	float:right;
	width: 300px;
	text-align: right;
	color: $white;
}

.black{
	
	font-size: 2em;
}

.landing-wrapper{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.about{
	overflow: auto;

}

.about-image{
	background: $primary-blue url(../images/h2.jpg) no-repeat top left;
	height: 200px;
	width: 300px;
	background-size: cover;
	float: right;
	@include clearfix;

	@include media(900px){
		float:left;
	}
	
}

.about-title{
	font-family: $secondary;
	font-size: 3em;
	width:100%;
	max-width: 500px;
	font-weight: 600;
	padding: .6em;

	@include media(900px){
		float:right;
		padding: 1.2em .6em;
	}

}

.about-text{
	font-size: 2em;
	font-family: $secondary;
	width: 100%;
	max-width: 500px;
	padding: 1em;
	line-height: 1.8em;
	@include media(900px){
		float:right;
		padding-top: 0;
		margin-top: -.2em;
	}

}

.how{
	margin-top: 5em;
	overflow: auto;
	border-top: 1px solid $primary-blue;
	border-bottom: 1px solid $primary-blue;
	padding: 5em;

	@include media(600px){
		padding: 0 0 2em 0;
		margin-top: 10em;
	}
}

.how-section-title{
	font-family: $secondary;
	font-size: 3em;
	width:100%;
	max-width: 500px;
	font-weight: 600;
	padding: 1em 0;
}

.step-1, .step-2, .step-3{
	overflow: auto;
}

.number{
	display:block;
	width: 37px;
	height: 37px;
	text-align: center;
	border-radius: 25px;
	border: 1px solid $primary-blue;
	font-family: $secondary;
	color: $primary-blue;
	font-size: 3em;
	float: left;
	margin-bottom: .5em;

	@include media(600px){
		margin-bottom: 0;
	}

}

.how-box{
	float: left;
	max-width: 700px;
	overflow: auto;
	margin-left: 2em;
	margin-right: 2em;

	@include media(900px){
		margin-right: 0;
	}


}

.how-title{
	font-family: $primary;
	font-size: 2em;
	font-weight: 600;


}

.how-text{
	font-family: $primary;
	font-size: 2em;

}

.recent{
	font-family: $secondary;
	font-size: 3em;
	font-weight: 600;
	padding: 3em 0;
	text-align: center;
}


//Piece Page

.piece-wrapper{
	overflow: auto;

}

.detail{
	overflow: auto;
	max-width: 1100px;
	margin: 0 auto;

}

.detail-wrapper{
	overflow: auto;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;

	@include media(1100px){
		margin-top: 2em;
		max-width: 1100px;
		float:left;
	}

}


.detail-image{
	max-height: 500px;
	height: 80%;
	display: block;	

	@include media(1100px){
		float:left;

	}

}

.detail-wrapper-inside{
	overflow: auto;
	width: 100%;
	padding: 1rem;

	@include media(1100px){
		float: left;
		width: 500px;
		padding: 0 2rem 2rem 2rem;
	}
}

.detail-artist{
	font-size: 2rem;
	font-family: $primary;
	font-weight: 600;
	margin: 1rem 0 .5rem 0;

	@include media(1100px){
		margin-top: 2rem;
	}
}

.detail-title{
	font-size: 2rem;
	font-family: $primary;
	margin-bottom: .5rem;
}

.detail-info{
	font-size: 2rem;
	color: $mid-gray;
	margin-bottom: 2rem;

}

.detail-price{
	border-top: 1px solid $secondary-blue;
	border-bottom: 1px solid $secondary-blue;
	font-family: $primary;
	font-size: 2rem;
	width: 100%;
	max-width: 400px;
	padding: .25em 0;
	margin-bottom: 2rem; 
}

.detail-collections{
	font-size: 2.5rem;
	font-family: $secondary;
}

.detail-history{
	font-size: 1.8rem;
	font-family: $primary;
	color: $mid-gray;
	margin-bottom: 2rem;
}


.detail-add-now{

}

.detail-curator{

}

.artist-bio{
	width: 100%;
	max-width: 500px;
	margin: 2rem auto;

	@include media(1100px){
		margin-top: 4em;
		width: 50%;
		max-width: 1100px;
		float:left;
		border-top: 1px solid $secondary-blue;
		padding-top: 4rem;
	}

}

.artist-bio-image{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background: $white url(../images/artist.jpg) no-repeat center;
	margin-left: 1rem;
}

.artist-bio-name{
	font-family: $secondary;
	font-size: 2.5rem;

}

.artist-bio-info{
	font-family: $secondary;
	font-size: 2rem;
	padding: 1rem;

}












