//colors
$mid-gray: rgba(128,128,128, 1);
$mid-light-gray: rgba(168, 168, 168, 1);
$light-gray: rgba(249,249,249, 1);
$primary-blue: rgba(12,105,147, 1);
$secondary-blue:rgba(12, 105, 147, .15);
$primary-green: rgba(69,86,63, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0,0,0,1);


//fonts
$primary: "adelle-sans", helvetica, sans-serif;
$secondary: "kepler-std-semicondensed", georgia, serif;

.italic{
	font-style: italic;
}

.semibold{
	font-weight: 600;
}